section{
    padding: 30px;
    background-color: #e6e6e6;
}
.inputFields{
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    min-height: 357px;
    h4{
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
    .singleField{
        margin: 5px 0;
    }
}
.actionButton{
    text-align: right;
}
@media (max-width: 767px) {
    .actionButton{
        float: left;
        width: 100%;
    }
    #settings{
        padding: 30px 0;
    }
}
