<section class="background">
  <div class="col-sm-12 mainHeading">
    <h4>Background</h4>
  </div>
  <div class="col-sm-12 backSelection">
    <mat-form-field>
      <mat-label>Choice your background.</mat-label>
      <mat-select [ngModel]="selectedBack" (ngModelChange)="updateSelect($event)">
        <mat-option *ngFor="let back of backOptions" [value]="back">
          {{back}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-12 backgroundHere">
    <div class="row">
      <div class="colorSelect col-sm-6" *ngIf="backgroundSet && !background.backImage">
        <color-compact color="#333" (onChangeComplete)="handleChange($event)"></color-compact>
      </div>
      <div class="col-sm-12 backgroundImage" *ngIf="backgroundSet && background.backImage">
        <app-uploader (newImage)="updateImage($event)" [previousImage]="background.imageUrl" [size]="'large'"></app-uploader>
      </div>
    </div>
  </div>
</section>
