.background{
    float: left;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    .mainHeading{
        h4{
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
        }
    }
}