section{
    float: left;
    width: 100%;
    padding: 40px;
    .logo {
        display: flex;
        justify-content: center;
    }
    .logoHere{
        width: 350px;
        img{
            width: 100%;
        }
    }
    .mainContent{
        margin-top: 40px;
        .contentHere{
            width: 60%;
            margin: auto;
            .mainTitle{
                text-align: center;
                margin-bottom: 20px;
                h3{
                    font-size: 28px;
                }
            }
            .registerForm{
                mat-form-field{
                    width: 100%;
                    background: #fff;
                    padding: 10px 20px;
                    margin-bottom: 10px;
                    border-radius: 5px;
                }
                mat-radio-group{
                    height: 94px;
                    margin-bottom: 10px;
                    padding: 35px 12px;
                    mat-radio-button{
                        margin-right: 10px;

                    }
                }
                .actionBtn{
                    text-align: center;
                    margin-top: 20px;
                    button{
                        // width: 100%;
                        // padding: 10px;
                        border-radius: 30px;
                    }
                }
            }
            .termService{
                text-align: center;
                margin-top: 30px;
            }
        }
    }
}
footer{
    width:100%;
    float: left;
    padding: 20px;
    text-align: center;
}
@media (max-width: 767px){
    .landingPage{
        padding: 40px 0;
        .logoHere{
            margin: auto;
        }
        .loginBtn{
            text-align: center;
            margin-top: 20px;
        }
        .mainContent{
            .contentHere{
                width: 100%;
            }
        }
        
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .landingPage{
        padding: 40px 0;
        .logoHere{
            margin: auto;
        }
        .loginBtn{
            text-align: center;
            margin-top: 20px;
        }
        .mainContent{
            .contentHere{
                width: 80%;
            }
        }
        
    }
}