.landing-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  height: 20px;
  width: 100%;
  flex-shrink: 0;
}

.footer {
  height: 20px;
  width: 100%;
  flex-shrink: 0;
}

.thank-you-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
      padding-bottom: 5%;
  }

  h3 {
      font-size: 3em;
      color: gray;
      font-weight: 400;
  }
}

.content {
  width: 100%;
  padding: 0 25%;
  margin: auto 0;
  overflow: auto;

  .logo {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    img {
      width: 162px;
    }
  }

  .description {
    display: flex;
    justify-content: center;
  }

  .form-container {
    width: 100%;

    // form > * {
    //   padding-left: 15px;
    //   padding-right: 15px;
    // }

    mat-card {
      display: inline-block;
      width: 100%;

      mat-button-toggle-group, mat-button-toggle-group > * {
        width: 100%;
      }

      .mat-button-toggle-checked{
        background-color: #2979FF;
        color: white;
      }
    }
  }

  .terms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
}

.content > div {
  padding-bottom: 30px;
}

.aware-text {
  padding-top: 10px;
  color: red !important;
}

@media only screen and (max-width: 1024px) {

  .content {
    padding: 0 35px;
  }

  .landing-container * {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 425px) {

  .content {
    padding: 0 10px;

    form > *, form > * * {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .landing-container * {
    font-size: 18px !important;
  }
}