html, body { 
    height: calc(100vh); 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.registerForm{
    .mat-form-field-infix{
        input{
            box-shadow: none;
        }
        textarea{
            box-shadow: none;
        }
    }
}