
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.registerForm{
    .mat-form-field-infix{
        input{
            box-shadow: none;
        }
        textarea{
            box-shadow: none;
        }
    }
}